body {
    margin: 0;
    padding: 0;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
    font-size: 14px;
    color: #666;
    background-color: #ece5d8;
}

#header {
}

#header .hd-user {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

#header .hd-user > div {
    position: absolute;
    right: 0;
    top: 0;
}

#header .hd-user > div > a {
    border-radius: 0 !important;
}

#header .hd-logo {
    width: 1000px;
    margin: 0 auto;
    height: 120px;
    line-height: 120px;
    font-size: 16px;
}

#header .hd-logo > strong {
    font-size: 40px;
}

#header .hd-nav {
    width: 100%;
    background-color: #428bca;
}

#header .hd-nav > ul {
    width: 1000px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

#header .hd-nav > ul > li {
    float: left;
}

#header .hd-nav > ul > li > a {
    height: 40px;
    line-height: 40px;
    font-size: 21px;
    padding: 0 25px;
    color: #fff;
}

#header .hd-nav > ul > li.hd-nav-active {
    background-color: #5bc0de;
}

#content {
    width: 1000px;
    margin: 20px auto;
}