<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{%block title%}base title{%end%}</title>

    <link rel="stylesheet" type="text/css" href="{{static_url('reset.css')}}">
    <link rel="stylesheet" type="text/css" href="{{static_url('lib/bootstrap/css/bootstrap.css')}}">

    <link rel="stylesheet" type="text/css" href="{{static_url('util.css')}}">
    <link rel="stylesheet" type="text/css" href="{{static_url('base.css')}}">
</head>
<body>
<header id="header">
    {%block header%}
    <div class="hd-user">
        <div>
            <!--<a href="#" class="btn btn-info j-login" data-toggle="modal" data-target="#myModal">登录</a>-->
            {% if username is not None %}
            欢迎你，<a href="/user" style="margin-right: 10px;">{{username}}</a>

            <form action="/logout" method="post" style="display: inline;">
                {% raw xsrf_form_html() %}
                <input type="submit" class="btn btn-info j-logout" style="border-radius: 0" value="退出">
            </form>
            {%else%}
            <a href="/login" class="btn btn-info j-login">登录</a>
            <a href="/register" class="btn btn-info j-register">注册</a>
            {%end%}
        </div>
    </div>
    <div class="hd-logo"><strong>生活百科</strong>，每一个人的生活，都是一部百科全书</div>
    {%end%}
    {%block nav%}
    <div class="hd-nav">
        <ul class="clear">
            <li class="hd-nav-active"><a href="#">热门</a></li>
            <li><a href="#">精华</a></li>
            <li><a href="#">最新</a></li>
            <li><a href="/live">投稿</a></li>
        </ul>
    </div>
    {%end%}
</header>
<div id="content" class="clear">
    {%block content%}base content{%end%}
</div>
<footer id="footer">
    {%block footer%}base footer{%end%}
</footer>

<!-- Modal -->
<!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">生活百科</h4>
            </div>
            <div class="modal-body">
                <h5>使用社交帐号登录：</h5>
                <a class="btn btn-danger width-100" style="margin-top: 5px;">腾讯qq</a>
                <a class="btn btn-primary width-100" style="margin-top: 10px;">新浪微博</a>
                <hr/>

                <form>
                    <input type="text" class="form-control" placeholder="用户名">
                    <input type="text" class="form-control" placeholder="密码" style="margin-top: 10px;"><br>
                    <input type="submit" value="登录" class="btn btn-success width-100 j-login">
                </form>
            </div>
            <div class="modal-footer">
                <div>
                    <a href="#">找回密码</a>
                    <a href="#">注册</a>
                </div>
            </div>
        </div>
    </div>
</div>-->

</body>

<script type="text/javascript" src="{{static_url('lib/jquery-2.1.1.min.js')}}"></script>
<script type="text/javascript" src="{{static_url('lib/bootstrap/js/bootstrap.js')}}"></script>
{%block css_js%}{%end%}
</html>