<!--{%extends "base.html"%}-->

{%block title%}首页{%end%}
{%block css_js%}
<link rel="stylesheet" type="text/css" href="{{static_url('index/index.css')}}">
{%end%}
{%block content%}
<div class="aside-left">
    {%for live in lives%}
        <div class="live">
        <h4><img class="user-image"
                 src="http://pic.qiushibaike.com/system/avtnew/1706/17063261/medium/20141025010421.jpg">{{live['username']}}</h4>
        <p>{{live["message"]}}</p>
        <p><img class="live-image" src="{{static_url('photos') + '/' + live['photo_name']}}"></p>
        <p>1000 有用 1000好笑 2000 回复</p>
        <p><a href="#">有用</a> <a href="#">好笑</a> <a href="#">回复</a></p>
    </div>
    {%end%}
</div>
<div class="aside-right">bb</div>
{%end%}
