{% extends "base.html"%}
{%block title%}投稿{%end%}
{%block css_js%}
<link rel="stylesheet" type="text/css" href="{{static_url('live/live.css')}}">
{%end%}
{%block nav%}
<div class="hd-nav">
    <ul class="clear">
        <li><a href="/">热门</a></li>
        <li><a href="#">精华</a></li>
        <li><a href="#">最新</a></li>
        <li class="hd-nav-active"><a href="/live">投稿</a></li>
    </ul>
</div>
{%end%}

{%block content%}
<div class="live-ctn clear">
    <form class="live-form" action="/live" method="post" accept="image/gif" enctype="multipart/form-data">
        {%raw xsrf_form_html()%}
        <textarea class="form-control live-textarea" name="message"></textarea>

        <div class="live-file-ctn clear">
            <label class="fl">照片：</label><input class="fl" type="file" name="photo" style="display: inline-block">

            <div class="fr"><input type="checkbox" name="anonymous" value="true" style="margin-right: 4px">匿名投稿</div>
        </div>
        <br>
        <input type="submit" class="btn btn-success" value="投稿">
    </form>
    <div class="live-instruction">
        <h4>投稿须知</h4>
        <ol style="list-style: none;margin: 0;padding: 0">
            <li>1. sdfsdsdfsdsdf sdsdf sdsdfs dsdfs ds df sds df sd sd fsd s df sds dfs dsd fsd</li>
            <hr/>
            <li>2. sdfsd</li>
            <hr/>
            <li>3. sdfsd</li>
            <hr/>
        </ol>
    </div>
</div>
{%end%}