{%extends "base.html"%}
{%block header%}{%end%}{%block footer%}{%end%}
{%block title%}登录{%end%}
{%block content%}
<h1 class="reg-logo">生活百科</h1>

<div class="reg-form">
    <h5>使用社交帐号登录：</h5>
    <a href="#" class="btn btn-danger width-100" style="margin-top: 5px;">腾讯qq</a>
    <a href="#" class="btn btn-primary width-100" style="margin-top: 10px;">新浪微博</a><br>
    <hr/>
    <h5>用户名密码登录：</h5>

    <form method="post">
        {% raw xsrf_form_html() %}
        <input name="username" type="text" class="form-control" placeholder="用户名"><br>
        <input name="password" type="password" class="form-control" placeholder="密码"><br>

        <input type="submit" value="登录" class="btn btn-success width-100 j-login">
    </form>
    <div style="margin-top: 10px;">
        <a href="#" style="margin-right: 10px;" class="color-999">找回密码</a>
        <a href="/register" class="color-999">注册</a>
    </div>
</div>

{%end%}

{%block css_js%}
<link rel="stylesheet" type="text/css" href="{{static_url('user/register.css')}}">
{%end%}
