{%extends "base.html"%}
{%block header%}{%end%}{%block footer%}{%end%}
{%block title%}注册{%end%}
{%block content%}
<h1 class="reg-logo">生活百科</h1>
<div class="reg-form">
    <form action="/register" method="post">
        {% raw xsrf_form_html() %}
        <input name="username" type="text" class="form-control" placeholder="用户名"><br>
        <input name="password" type="password" class="form-control" placeholder="密码"><br>
        <input name="password_again" type="password" class="form-control" placeholder="再次输入密码"><br>
        <input name="email" type="email" class="form-control" placeholder="邮箱"><br>
        <input name="agree" type="checkbox" value="true">
        <span> 我已阅读并同意生活百科的<a href="#">《用户协议》</a>以及<a href="#">《隐私政策》</a></span><br><br>

        <input type="submit" value="注册" class="btn btn-success width-100">
    </form>
    <div style="margin-top: 10px;">
        <a href="/login" class="color-999">直接登录</a>
    </div>
</div>

{%end%}

{%block css_js%}
<link rel="stylesheet" type="text/css" href="{{static_url('user/register.css')}}">
{%end%}
