.live-ctn{
    background-color: #fff;
    padding:20px;
    border-radius: 2px;
}

.live-form{
    float: left;
    width: 62%;
}

.live-instruction{
    float: right;
    width: 36%;
    padding: 0 10px;
}

.live-textarea{
    display: block;
    height:280px !important;
    width:100%;
    max-width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.live-file-ctn{
    padding: 20px 12px;
    border: 1px solid #ccc;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: none;
}